/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/poppins';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #FAFAFB;

  --gray-2: #4F4F4F;
  --gray-3: #828282;
  --gray-4: #BDBDBD;
  --gray-5: #E0E0E0;
}